
body {
  background-image: url(../img/balls.jpg);
}
.container {
  background-color: white;
}
.header {
  text-align: center;
  min-height: 100px;
  background-color: #d1d0cc;
}
h1 {
  padding-top: 2%;
}
h3 {
  padding-top: 4%;
}
input, label, #go, #og {
  float: left;
  margin-left: 2%;
}
#form1 {
  display: inline;
}
#result-div {
  clear: both;
}
#woman {
  width: 40%;
  padding-left: 3%;
  height: auto;
  float: right;
}
#ghost {
  display: none;
}
#pie {
  display: none;
}
#devil {
  display: none;
}
#usa {
  display: none;
}
#ping {
  display: none;
}
#star {
  display: none;
}
#glass {
  display: none;
}
#answer {
  display: none;
  border-radius: 50%;
}
#wife {
  display: none;
}
